pkgbase = codex-switch-git
	pkgdesc = Desktop tray switcher for Codex login profiles
	pkgver = r2.ba0613b
	pkgrel = 1
	url = https://github.com/mainliufeng/codex-switch
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = go
	makedepends = pkgconf
	depends = gtk3
	depends = libayatana-appindicator
	depends = xdg-utils
	provides = codex-switch
	conflicts = codex-switch
	source = git+https://github.com/mainliufeng/codex-switch.git
	sha256sums = SKIP

pkgname = codex-switch-git
